params {
    // skani parameters
    skani_speed                      = ""
    skani_max_results                = 0
    skani_learned_ani                = false
    skani_estimate_median            = false
    skani_multi_line_fasta           = false
    skani_compression_factor         = 125
    skani_confidence_intervals       = false
    skani_output_ani_greater_than    = 80
    skani_minimum_alignment_fraction = 15
    skani_marker_compression_factor  = 1000
    skani_estimate_mean_after_trim   = false
}
