/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    /*
    ================================================================================
                            All modules
    ================================================================================
    */
    publishDir =  [
        [
            // QC file checks
            path:    params.qc_filecheck_log_dir,
            mode:    params.publish_dir_mode,
            pattern: "*_File.tsv"
        ],
        [
            // Stdout and stderr
            path:    params.process_log_dir,
            mode:    params.publish_dir_mode,
            pattern: ".command.{out,err}",
            saveAs:  { filename -> "${meta.id}.${task.process}${filename}" }
        ]
    ]

    /*
    ================================================================================
                            Module specific
    ================================================================================
    */

    withName: ANI_BLAST_BIOPYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/ANI/BLAST/${base1}-${base2}" },
                mode:    params.publish_dir_mode,
                pattern: "*.tab"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${base1}_${base2}.${task.process}${filename}" }
            ]
        ]
    }

    withName: ANI_FASTANI {
        publishDir = [
            [
                path:    { "${params.outdir}/ANI/fastANI/${base1}-${base2}" },
                mode:    params.publish_dir_mode,
                pattern: "fastani.*"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${base1}_${base2}.${task.process}${filename}" }
            ]
        ]
    }

    withName: ANI_SKANI {
        publishDir = [
            [
                path:    { "${params.outdir}/ANI/SKANI/${base1}-${base2}" },
                mode:    params.publish_dir_mode,
                pattern: "skani.*.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${base1}_${base2}.${task.process}${filename}" }
            ]
        ]
    }

    withName: BLAST_SUMMARY_UNIX {
        publishDir = [
            [
                path:    { "${params.outdir}/Summaries" },
                mode:    params.publish_dir_mode,
                pattern: "Summary.BLAST.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }

    withName: GENERATE_PAIRS_BIOPYTHON {
        publishDir = [
            [
                path:    { "${params.outdir}/ANI/${meta.ani}" },
                mode:    params.publish_dir_mode,
                pattern: "pairs.tsv"
            ],
            [
                path:    params.process_log_dir,
                mode:    params.publish_dir_mode,
                pattern: ".command.{out,err}",
                saveAs:  { filename -> "${task.process}${filename}" }
            ]
        ]
    }
}
