/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    wf-ani Nextflow params config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// This code is adapted from: https://github.com/bactopia/bactopia

params {
    // Input options
    input                        = null
    query                        = null
    refdir                       = null
    outdir                       = null


    // ANI workflow {blast, skani, fastani}
    ani                          = 'blast'


    // Boilerplate options
    logpath                      = "${params.outdir}/pipeline_info"
    tracedir                     = "${params.logpath}"
    process_log_dir              = "${params.logpath}/process_logs"
    qc_filecheck_log_dir         = "${params.logpath}/qc_file_checks"

    email                        = null
    hook_url                     = null
    email_on_fail                = null

    help                         = false
    version                      = false
    validate_params              = true
    plaintext_email              = false
    monochrome_logs              = false
    publish_dir_mode             = 'copy'
    show_hidden_params           = false
    validationShowHiddenParams   = false
    validationSchemaIgnoreParams = 'genomes,igenomes_base'


    // Nextflow profile parameters
    profile_cache_dir            = "${baseDir}/assets/.cache"


    // Config options
    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description   = null
    config_profile_contact       = null
    config_profile_url           = null
    config_profile_name          = null


    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                   = '128.GB'
    max_cpus                     = 16
    max_time                     = '240.h'
    max_retry                    = 3


    // nf-core
    schema_ignore_params         = "min_two_way_alignment_length,min_two_way_alignment_fraction,min_ACGT_fraction,keep_final_fragment,nucleotide_fragment_size,step_size,min_fragment_alignment_length,min_fragment_percent_identity,min_fraction_alignment_percentage,min_filesize_filepair2,min_filesize_filepair1,tasks_per_job,min_input_filesize,excel_sheet_name,workflows,available_workflows,max_retry,singularity_cache,qc_filecheck_log_dir,process_log_dir,logpath,run_name,bigdata,fastani_minimum_fraction,fastani_fragment_length,fastani_kmer_size,skani_output_ani_greater_than,skani_estimate_mean_after_trim,skani_estimate_median,skani_marker_compression_factor,skani_learned_ani,skani_compression_factor,skani_speed,skani_max_results,skani_confidence_intervals,skani_minimum_alignment_fraction,skani_multi_line_fasta,fastani_matrix,sge_process_time,sge_options,sge_queue_size,sge_queue,sge_penv"
}
