/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a larger test set (for HPC)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test on a larger dataset.

    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Large test profile'
    config_profile_description = 'Large test dataset to check pipeline function (for HPC)'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 2
    max_memory                 = '6.GB'
    max_time                   = '6.h'

    // Input data
    inpath                     = 'assets/test_data/test_large'
    outpath                    = 'results_large'
    logpath                    = 'results_large/log'
    
}