// Available wf-ani tools

params {
    available_workflows {
        assembly = ['blast']
    }
    workflows {
        // Workflows (main ani blast workflow)
        'blast' {
            description: 'Average nucleotide identity on FastA/Genbank files'
            includes = ['blast']
            is_workflow = true
            modules = ["infile_handling_unix", "generate_pairs_biopython", "ani_blast_biopython"]
        }

        // Subworkflows

        // Modules (contains params.config)
        // local
        'infile_handling_unix' {
            path = "modules/local/infile_handling_unix"
        }
        'generate_pairs_biopython' {
            path = "modules/local/generate_pairs_biopython"
        }
        'ani_blast_biopython' {
            path = "modules/local/ani_blast_biopython"
        }
        'ani_summary_unix' {
            path = "modules/local/ani_summary_unix"
        }
        
        // nf-core/modules
    }
}