/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    wf-ani Nextflow workflows config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// This code is adapted from: https://github.com/bactopia/bactopia

params {
    available_workflows {
        ani      = ['blast', 'fastani', 'skani']
    }
    workflows {
        // Workflows (main ani workflow)
        'blast' {
            description: 'Perform Average Nucleotide Identity (ANI) with BLAST+'
            includes    = ['blast']
            is_workflow = true
            modules     = ["convert_samplesheet_python", "infile_handling_unix", "generate_pairs_biopython",
                            "ani_blast_biopython"]
        }

        'fastani' {
            description: 'Perform Average Nucleotide Identity (ANI) with fastANI'
            includes    = ['fastani']
            is_workflow = true
            modules     = ["convert_samplesheet_python", "infile_handling_unix", "generate_pairs_biopython",
                            "ani_fastani"]
        }

        'skani' {
            description: 'Perform Average Nucleotide Identity (ANI) with skani'
            includes    = ['skani']
            is_workflow = true
            modules     = ["convert_samplesheet_python", "infile_handling_unix", "generate_pairs_biopython",
                            "ani_skani"]
        }

        // Subworkflows

        // Modules (contains params.config)
        // local
        'convert_samplesheet_python' {
            path        = "modules/local/convert_samplesheet_python"
        }
        'infile_handling_unix' {
            path        = "modules/local/infile_handling_unix"
        }
        'generate_pairs_biopython' {
            path        = "modules/local/generate_pairs_biopython"
        }
        'genbank2fasta_biopython' {
            path        = "modules/local/genbank2fasta_biopython"
        }
        'ani_blast_biopython' {
            path        = "modules/local/ani_blast_biopython"
        }
        'blast_summary_unix' {
            path        = "modules/local/blast_summary_unix"
        }
        'ani_fastani' {
            path        = "modules/local/ani_fastani"
        }
        'ani_skani' {
            path        = "modules/local/ani_skani"
        }

        // nf-core/modules
    }
}
