params {
    // Min filesize parameters
    min_filesize_filepair1 = '1k'
    min_filesize_filepair2 = '1k'

    // ANI parameters
    min_fraction_alignment_percentage = '70.0'
    min_fragment_percent_identity = '30.0'
    min_fragment_alignment_length = '0'
    step_size = '200'
    nucleotide_fragment_size = '1000'
    keep_final_fragment = "False"
    min_ACGT_fraction = '0.97'
    min_two_way_alignment_fraction = '0'
    min_two_way_alignment_length = '0'
}