/*
    Rosalind HPC Nextflow Config (AGE 2024.1.0 v8.9.0)
*/
// NOTE: use `nf-core` tools to verify this before editing and
//       launching by `nextflow config -profile rosalind_hpc_age`

params {
    // Maximum Rosalind resources
    max_cpus         = 44
    max_memory       = 773.GB

    sge_queue_size   = 100
    sge_process_time = 4.h
    sge_penv         = 'smp'
    sge_high_memory  = 185.GB
    sge_queue        = 'short.q'
    sge_options      = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
}

process {
    executor       = 'sge'
    penv           = params.sge_penv
    clusterOptions = params.sge_options
    queue          = { task.time <= 4.h ? 'short.q' : task.time > 5.h ? 'all.q' : 'short.q'           }
    errorStrategy  = { task.exitStatus in [1,2,71,104,134,137,139,140,143,250,255] ? 'retry' : 'ignore' }
    maxRetries     = 3
}

executor {
    pollInterval = '15 sec'
    queueSize    = params.sge_queue_size
}
